MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=web_scraper
MONGODB_USERNAME=root
MONGODB_PASSWORD=topsecret
MONGODB_AUTH_SOURCE=admin
LOG_LEVEL=INFO
SHOW_BROWSER=true # Set to any value to make browser visible